*{margin: 0; padding: 0;box-sizing: border-box;}

@mixin dp-set($dp,$jc,$al) {
  display: $dp;
  justify-content: $jc;
  align-items: $al;
}

  
@media (max-width: 768px) {
  #root {
    width: 100vw;
    height: 100vh;
    background-color: #333;
    @include dp-set(flex,center ,center );
      flex-direction: column;
    & > div{
      width: 350px;
      height: 350px;
      background-color: gray;
      margin: 10px;
      
      
    }
    
  }
}

@media (min-width: 769px)  and (max-width: 1024px) {
  #root {
    width: 100vw;
    height: 100vh;
    background-color: salmon;
    @include dp-set(flex,center ,center );
    flex-wrap: wrap;
    & > div{
      width: 350px;
      height: 350px;
      background-color: gray;
      margin: 10px;
  }
}
}
@media (min-width: 1025px) {
  #root {
    width: 100vw;
    height: 100vh;
    background-color: cadetblue;
    @include dp-set(flex,space-around ,center );

    & > div{
      width: 350px;
      height: 350px;
      background-color: gray;
      margin: 10px;
  }
}
}