$gray:#808080;
$lightgray:#D3D3D3;
$white:#ffff;
$po-absolute:absolute;
$flex:flex;


*{margin:0; padding: 0; box-sizing: border-box; list-style: none;}

@mixin whb($wid,$hg,$col) {
  width: $wid;
  height: $hg;
  background-color: $col;  
}
@mixin display-set($dp,$jc,$al){
  display: $dp;
  justify-content: $jc;
  align-items: $al;
}
@mixin wh($wid,$hg){
  width: $wid;
  height: $hg;
}

@mixin position($ab,$top,$left){
  position: $ab;
  top:$top;
  left:$left;
}
@mixin padmar($pad,$mar){
  padding: $pad;
  margin: $mar;

}


#root{
  
  @include wh(100vw,100vh);
  
  & > nav {
    @include display-set(flex,center ,center );
    height: 100vh;
    
    & > div:nth-child(1){
        display: flex;
        justify-content: center;

      & > div:nth-child(1) > div:nth-child(1){
        @include whb(400px, 200px,#808080);
      }
    }
      & > div:nth-child(1) > div:nth-child(2)>div:nth-child(1){
      @include whb(400px, 800px ,#d3d3d3 );
      margin: 0 7px;
    }
    & > div:nth-child(1) > div:nth-child(3)> div:nth-child(1){
      @include whb(400px, 200px,#808080);

    }
    & > div > div:nth-child(3){
      @include display-set(flex,column ,flex-end );
      
    }
    & > div:nth-child(2) > div:nth-child(1){
      @include display-set(flex,space-around ,center);
      
      & > div{
        @include wh(60px,70px );        
        background-color: $white;
      }
    }
    & > div:nth-child(2){
      position: absolute;
      @include wh(400px,800px);
      display:flex;
      justify-content: center;
      
      & > div:nth-child(1){
        @include whb(inherit,100px,#808080 );
        @include position(absolute,50px ,150px );
        display: flex;
      }
      & >div:nth-child(2){
        @include position(absolute,50px ,20px);
        @include wh(400px,inherit);
        display: flex;
        justify-content: center;
        flex-direction: column;

        & > h1{
          @include padmar(5px 20px,0 );
          font-size: 60px;
        }
        & > p{
          @include padmar(5px 20px,0 );
        }

      }

    }
    & > div:nth-child(3){
      @include wh(1000px,600px);  
      border: 5px solid black;
      position: absolute;
    }
  }
}


  


