body {
  margin: 0;
}

body > root {
  width: 100vw;
  height: 100vh;
}

body > root > main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body > root > main > div:nth-child(1) {
  display: flex;
  justify-content: center;
}

body > root > main > div > div:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

body > root > main > div:nth-child(2) > div:nth-child(1) {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body > root > main > div:nth-child(2) > div:nth-child(1) > div {
  background-color: rgb(231, 231, 231);
  width: 60px;
  height: 70px;
} 

.dp-flex {
  display: flex;
}

.flex-direction-col {
  flex-direction: column;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.top-30 {
  top: 30px;
}

.top-50 {
  top: 50px;
}

.left-20 {
  left: 20px;
}

.left-150 {
  left: 150px;
}

.width-inherit {
  width: inherit;
}

.width-400 {
  width: 400px;
}

.width-800 {
  width: 800px;
}

.width-1000 {
  width: 1000px;
}

.height-inherit {
  height: inherit;
}

.height-100 {
  height: 100px;
}

.height-200 {
  height: 200px;
}

.height-300 {
  height: 300px;
}

.height-600 {
  height: 600px;
}

.height-800 {
  height: 800px;
}

.margin-0-7 {
  margin: 0 7px;
}

.bd-5px-solid-black {
  border: 5px solid black; 
}

.ju-content-center {
  justify-content: center;
}

.al-items-center{
  align-items: center;
}

.al-self-flex-start {
  align-self: flex-start;
}

.al-self-flex-end {
  align-self: flex-end;
}

.bg-color-gray {
  background-color: gray;
}

.bg-color-rgb231 {
  background-color: rgb(231, 231, 231);
}

.h1 {
  font-size: 50px;
}

.pd-5-20 {
  padding: 5px 20px;
}

.p {
  font-size: 16px;
}