
@mixin flex-set($flex, $justify, $align) {
  display: $flex;
  justify-content:$justify;
  align-items: $align;
  /*mixin명령어를 통하여 값을 선언*/
}





#root{
  width: 100vw;
  height: 100vh;
  background-color: #333;

  @include flex-set(flex,space-around,center);
  /*include 명령어를 통해 mixin에 입력한 것을 불러옴*/

}