*{margin: 0; padding: 0; box-sizing: border-box;}
a {text-decoration: none;}
$black: #333;
$white:#fff;
$red:#FF0000;
$darkgray:#a9a9a9;

@mixin wh($wid,$hg){
  width: $wid;
  height: $hg;
}

@mixin position-right($pos,$top,$right){
  position: $pos;
  top:$top;
  right: $right;
}
@mixin position-left($pos,$top,$left){
  position: $pos;
  top:$top;
  left: $left;
}
@mixin position-bottom($pos,$bot){
  position: $pos;
  bottom: $bot;
}
@mixin position-top($pos,$top){
  position: $pos;
  top:$top;
}

@mixin dp-set($dp,$jc){
  display: $dp;
  justify-content: $jc;
}

@mixin hover($transittion,$transform) {
  transition: $transittion;
  transform: $transform;

}

input{
  border: 1px solid $black;
  border-radius: 50px;
  @include wh(20vw,2vh);
  background-color: $black;
  color: $white;
}
input:focus{outline: none;}


#root{
  @include wh(100vw,100vh);
  background-image: url('https://res09.bignox.com/appcenter/kr/2019/12/1567678471_3RUW6NhdBrowHs1neoJsXor9ipDdVetwWHKwNODH.jpeg');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  /*<body> 설정*/
  & > header > div{
    @include dp-set(flex,space-between);
    list-style: none;
    & > div:nth-child(1) {
      @include wh(30vw,3vh );
      @include position-left(relative,30px,20px);
      & > div{
        display: flex;
        @include position-right(absolute,0px ,195px);
        & > div{
          color: $darkgray;
        }
      }
      }
    & > div:nth-child(2){
      width: 3vw;
      color: $red;
      font-size: 50px;     
      font-style: italic;
      position: relative;
      right: 15%;
      &:hover{
      transition: all 1s ease;
      transform: scale(1.1);  
      }    
    }
    & > div:nth-child(3){
      @include wh(50px,50px);
      border-radius: 50%;
      background-color: $darkgray;
      margin:20px;
      position: relative;
      right: 200px;
      background-image: url('https://github.githubassets.com/images/modules/codespaces/github-vscode-logo-light.svg');
      background-size: 100%;
      background-repeat: no-repeat;
      & > div{
        display: inline-block;
        color: $white;
        @include position-left(relative,11px ,60px);

      }

    }
    }
  & > main > section> aside{

    @include position-left(absolute,300px ,30px);
    @include dp-set(flex,left);
    align-items: center;
    flex-direction: column;

    & > div{
      @include wh(10vw,2vh);
      background-color :$black;
      color: $white;
      margin: 20px;
      text-align: center;
    }
  }
  & > main > section > article{
    @include dp-set(flex,center);
    @include position-left(absolute,200px ,330px );   
    align-items: center;

    
    & > div{
      @include wh(7vw,50vh);
      background-color: $darkgray;
      margin: 15px;
      
      background-size: 9vw 50vh;
      background-repeat: no-repeat;
      &:hover{
        @include hover(all 1s ease,scale(1.25) );        
      }
      &:nth-child(1){
        background-image: url('https://images.chosun.com/resizer/a5YP6FNZMLmdoSmJCXiQJcN25Fw=/540x799/smart/cloudfront-ap-northeast-1.images.arcpublishing.com/chosun/CFCFB3LGQ75OBNIYD36LN74FHQ.jpg');       
        @include position-bottom(relative,50px);
      
      }
      &:nth-child(2){
        background-image: url('https://img.hankyung.com/photo/202108/01.27351934.1.jpg');
      }
      &:nth-child(3){
        background-image: url('https://noonoo-images.studiouniversal.net/info/tv/84777/hlmbe736EuN4JP7NM1NjvQgn53I.jpg');
        @include position-top(relative,50px);       
      }
      &:nth-child(4){
        background-image: url('https://blog.kakaocdn.net/dn/bITzc8/btqOzAtbJRE/LHeDEKnBrON4H5M7yVmla1/img.jpg');
        
      }
      &:nth-child(5){
        background-image: url('https://mblogthumb-phinf.pstatic.net/MjAxOTEyMjRfMTI3/MDAxNTc3MTU0MTY1NzU0.aoV9JbcG3lFGV5kxe1MBzuIB40MjK30pEuRxNlXRCRgg.mfyo8weZf6eLwliScB3NNFvmDwXD39gMWddtviHdJOQg.JPEG.hjy24090/%EB%84%B7%ED%94%84%EB%A6%AD%EC%8A%A4-%ED%8C%90%ED%83%80%EC%A7%80%EB%93%9C%EB%9D%BC%EB%A7%88-%EC%9C%84%EC%B3%90-The_Witcher-%EC%8B%9C%EC%A6%8C1_(4).jpg?type=w800');
        @include position-bottom(relative,50px);
      }
      &:nth-child(6){
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHNu5i2HQJCbN9m5yOgLFd36GNd-H4i8cc2wLqF07jblOmeVtHE989FLQWLBeXPMYDQuE&usqp=CAU');
        @include position-top(relative,50px); 
      }
      &:nth-child(7){
        background-image: url('https://thumb.mt.co.kr/06/2021/06/2021060416171654420_2.jpg/dims/optimize/');
      }
      &:nth-child(8){
        background-image: url('https://mblogthumb-phinf.pstatic.net/MjAyMDA4MDhfMjM3/MDAxNTk2ODc3NjAyODcx.q-YLr8gSLUl_AQR1IBI05GoN4uuUvWQEbx36B0izw9wg.e1EGKaFQPCWUIvNwkWJtgKxBr4fexMVriXd-M8GQLHIg.JPEG.dkssk715/MV5BNjQ0Mzk0OTE5MF5BMl5BanBnXkFtZTgwNDkyOTI0NTM__V1_.jpg?type=w800');
        @include position-bottom(relative,50px);
      }
    }


  }
  }



